@use "../sass/" as *;

.list_container {
   @include flex_center(center,center); 
   flex-wrap: wrap;
   padding: 2rem;
   width: 100vw;
   // height: 100vh; 
}


img {
   width: 220px;
   margin: 1rem;
   cursor: pointer;
}


.btn-close {
   position: absolute;
   top: 0;
   right: 0;
   cursor: pointer;
   padding: 8px 12px;
   background-color: black;
   color: white;
   font-weight: bold;
   border-radius: 5px;
   font-size: small
   
}