@use "../sass/" as *;
.intro_container {
    background-color: $blue-color;
    padding: 8px 12px;
    color: $white-color;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    h2 {
        text-transform: uppercase;
    }

    span {
        color: $yellow-color;
    }
}